.section-slider-feedback__slider-video1.slider-video1
  .swiper-wrapper
      .swiper-slide.slider-video1__slide
        .slider-video1__slide-back 
          .slider-video1__slide-foto 
              img(src="assets/images/foto/KovardakovaO.png", alt="Ольга Ковардакова")
          .slider-video1__slide-button(data-info="https://www.youtube.com/embed/F6ZAIOO4-JI")
          .slider-video1__slide-share
              img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
          .slider-video1__slide-share.slider-video1__slide-share-trans
              img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
          .slider-video1__slide-left
            .slider-video1__slide-left-sign Ольга Ковардакова
            .slider-video1__slide-left-position директор по работе с персоналом
            .slider-video1__slide-left-firm Инфосистема Джет
          .slider-video1__slide-right 
            .slider-video1__slide-right-text Имеется спорная точка зрения, гласящая примерно следующее: базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями. Внезапно, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется.
      .swiper-slide.slider-video1__slide
        .slider-video1__slide-back 
          .slider-video1__slide-foto 
              img(src="assets/images/foto/BulgakovD.png", alt="Дмитрий Булгаков")
          .slider-video1__slide-button(data-info="https://www.youtube.com/embed/a2qJf0ifEMc")
          .slider-video1__slide-share
              img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
          .slider-video1__slide-share.slider-video1__slide-share-trans
              img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
          .slider-video1__slide-left
            .slider-video1__slide-left-sign Дмитрий Булгаков
            .slider-video1__slide-left-position директор по работе с персоналом
            .slider-video1__slide-left-firm Инфосистема Джет
          .slider-video1__slide-right 
            .slider-video1__slide-right-text Имеется спорная точка зрения, гласящая примерно следующее: базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями. Внезапно, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется.
      .swiper-slide.slider-video1__slide
        .slider-video1__slide-back 
          .slider-video1__slide-foto 
              img(src="assets/images/foto/KovardakovaO.png", alt="Ольга Ковардакова")
          .slider-video1__slide-button(data-info="https://www.youtube.com/embed/-9EHdp1ynUU")
          .slider-video1__slide-share
              img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
          .slider-video1__slide-share.slider-video1__slide-share-trans
              img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
          .slider-video1__slide-left
            .slider-video1__slide-left-sign Ольга Ковардакова
            .slider-video1__slide-left-position директор по работе с персоналом
            .slider-video1__slide-left-firm Инфосистема Джет
          .slider-video1__slide-right 
            .slider-video1__slide-right-text Имеется спорная точка зрения, гласящая примерно следующее: базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями. Внезапно, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется.
      .swiper-slide.slider-video1__slide
        .slider-video1__slide-back 
          .slider-video1__slide-foto 
              img(src="assets/images/foto/BulgakovD.png", alt="Дмитрий Булгаков")
          .slider-video1__slide-button(data-info="https://www.youtube.com/embed/F6ZAIOO4-JI")
          .slider-video1__slide-share
              img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
          .slider-video1__slide-share.slider-video1__slide-share-trans
              img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
          .slider-video1__slide-left
            .slider-video1__slide-left-sign Дмитрий Булгаков
            .slider-video1__slide-left-position директор по работе с персоналом
            .slider-video1__slide-left-firm Инфосистема Джет
          .slider-video1__slide-right 
            .slider-video1__slide-right-text Имеется спорная точка зрения, гласящая примерно следующее: базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями. Внезапно, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется.
      .swiper-slide.slider-video1__slide
        .slider-video1__slide-back 
          .slider-video1__slide-foto 
              img(src="assets/images/foto/KovardakovaO.png", alt="Ольга Ковардакова")
          .slider-video1__slide-button(data-info="https://www.youtube.com/embed/F6ZAIOO4-JI")
          .slider-video1__slide-share
              img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
          .slider-video1__slide-share.slider-video1__slide-share-trans
              img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
          .slider-video1__slide-left
            .slider-video1__slide-left-sign Ольга Ковардакова
            .slider-video1__slide-left-position директор по работе с персоналом
            .slider-video1__slide-left-firm Инфосистема Джет
          .slider-video1__slide-right 
            .slider-video1__slide-right-text Имеется спорная точка зрения, гласящая примерно следующее: базовые сценарии поведения пользователей набирают популярность среди определенных слоев населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями. Внезапно, многие известные личности освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется.
  .slider-video1-pagination
  .slider-video1-button-prev
  .slider-video1-button-next