footer.footer
    .container
        .footer__logo
            .footer__logo-beckgraund
                .footer__logo-svg
                    <svg xmlns="http://www.w3.org/2000/svg" width="260" height="169" viewBox="0 0 260 169" fill="none">
                        <path d="M135.566 38.2092C131.117 42.8121 127.494 48.0079 124.762 53.7655C123.076 57.323 121.718 61.0521 120.656 64.9061C120.266 64.4536 119.844 64.0167 119.423 63.5798C120.453 59.9599 121.765 56.4492 123.357 53.0945C125.949 47.6335 129.306 42.6561 133.412 38.2092H135.566Z" fill="url(#paint0_linear_24_355)"/>
                        <path d="M197.393 20.5932C196.987 21.0301 196.596 21.467 196.222 21.9194C196.159 21.9038 196.112 21.8882 196.05 21.8726C190.898 20.6088 185.496 19.9847 179.859 19.9847C179.672 19.9847 168.962 19.9847 152.88 19.9691H151.054C149.898 19.9691 148.712 19.9691 147.51 19.9535H145.917C131.303 19.9379 113.458 19.9223 95.4096 19.9067C94.2075 19.9223 93.0053 19.9067 91.7875 19.9067C48.0092 19.891 4.32452 19.8598 4.32452 19.8598V18.2839C4.32452 18.2839 48.7117 18.3151 92.8492 18.3463H96.4713C115.41 18.362 134.083 18.3776 148.946 18.3932H150.71C152.1 18.4088 153.458 18.4088 154.77 18.4088H156.971C170.741 18.4244 179.703 18.44 179.844 18.44C185.901 18.44 191.741 19.1265 197.221 20.5776C197.283 20.562 197.346 20.5776 197.393 20.5932Z" fill="url(#paint1_linear_24_355)"/>
                        <path d="M243.388 84.7842C243.388 102.072 238.127 117.332 227.775 130.142C222.608 136.555 215.754 141.72 207.385 145.496C199.095 149.24 189.836 151.144 179.86 151.144C166.323 151.144 154.52 147.821 144.793 141.267C141.421 138.989 138.314 136.493 135.551 133.809C135.738 133.232 135.91 132.686 136.081 132.124C138.954 134.979 142.139 137.585 145.668 139.972C155.145 146.338 166.636 149.568 179.86 149.568C189.618 149.568 198.658 147.727 206.745 144.06C214.879 140.362 221.546 135.354 226.558 129.128C236.69 116.614 241.827 101.682 241.827 84.7686C241.827 83.8168 241.811 82.8962 241.78 81.9756V81.96C242.295 81.8664 242.811 81.7728 243.326 81.6636V81.726C243.373 82.7402 243.388 83.7388 243.388 84.7842Z" fill="url(#paint2_linear_24_355)"/>
                        <path d="M141.593 38.2092C135.925 43.2334 131.46 49.1314 128.306 55.8719C126.386 59.8975 124.903 64.1571 123.872 68.6352C124.309 69.1657 124.715 69.6962 125.121 70.2423C126.12 65.421 127.666 60.8337 129.727 56.5584C133.037 49.4902 137.846 43.327 144.028 38.2248H141.593V38.2092Z" fill="url(#paint3_linear_24_355)"/>
                        <path d="M237.799 82.3816C237.283 82.3972 236.768 82.4284 236.237 82.4284C236.269 83.2086 236.284 84.0043 236.284 84.7845C236.284 100.185 231.6 113.775 222.373 125.181C217.814 130.845 211.741 135.416 204.34 138.755C196.971 142.079 188.743 143.78 179.859 143.78C167.947 143.78 157.486 140.831 148.728 135.042C144.543 132.187 140.89 128.972 137.752 125.415C137.674 125.82 137.596 126.226 137.502 126.647C137.455 126.866 137.408 127.1 137.346 127.318C140.39 130.626 143.903 133.622 147.853 136.337C156.877 142.313 167.65 145.34 179.859 145.34C188.977 145.34 197.424 143.608 204.98 140.175C212.615 136.727 218.86 132.015 223.591 126.164C233.037 114.477 237.845 100.544 237.845 84.7845C237.845 83.9731 237.845 83.1773 237.799 82.3816Z" fill="url(#paint4_linear_24_355)"/>
                        <path d="M193.224 25.5861C192.896 26.0385 192.553 26.5066 192.225 26.9591C192.115 26.9435 192.037 26.9123 191.928 26.9123C189.289 26.3974 186.557 26.0697 183.778 25.8981C182.498 25.8201 181.202 25.7889 179.875 25.7889C179.188 25.7889 177.205 25.7109 177.205 25.7109H141.155L138.485 25.6953H121.421L91.444 25.6797H87.8218L4.32452 25.6641V24.1038L88.8835 24.1194H92.5213L139.344 24.135H144.855L177.221 24.1506C177.236 24.1506 179.204 24.2286 179.859 24.2286C184.387 24.2286 188.759 24.6655 192.958 25.5392C193.068 25.5548 193.146 25.5704 193.224 25.5861Z" fill="url(#paint5_linear_24_355)"/>
                        <path d="M112.022 38.2092H113.864C112.412 40.5497 111.101 42.9526 109.93 45.449C108.727 47.9611 107.65 50.5669 106.729 53.2194C106.292 52.9385 105.839 52.6577 105.371 52.3924C106.307 49.8023 107.353 47.259 108.54 44.7937C109.586 42.5313 110.757 40.3312 112.022 38.2092Z" fill="url(#paint6_linear_24_355)"/>
                        <path d="M213.536 7.73613C212.974 8.04819 212.412 8.36025 211.85 8.71912C211.834 8.71912 211.834 8.70352 211.819 8.70352C201.858 4.5531 191.101 2.43109 179.812 2.43109L4.32452 2.38428V0.823975L179.812 0.870784C191.725 0.870784 203.044 3.18004 213.505 7.72052L213.536 7.73613Z" fill="url(#paint7_linear_24_355)"/>
                        <path d="M260 84.7845C260 106.613 253.364 125.883 240.281 142.032C233.786 150.114 225.137 156.637 214.582 161.395C204.122 166.139 192.428 168.526 179.828 168.526C162.935 168.526 148.04 164.344 135.581 156.09C132.756 154.171 130.117 152.143 127.65 150.005C127.931 149.568 128.243 149.116 128.509 148.663C130.991 150.817 133.63 152.861 136.456 154.78C148.649 162.862 163.247 166.966 179.828 166.966C192.193 166.966 203.685 164.625 213.942 159.976C224.262 155.31 232.724 148.944 239.079 141.065C251.944 125.181 258.454 106.239 258.454 84.7845C258.454 80.9929 258.251 77.2482 257.83 73.6283C257.83 73.6127 257.83 73.6127 257.83 73.5971C257.939 73.4878 258.033 73.3786 258.126 73.2694L258.142 73.2538C258.361 73.0197 258.579 72.7545 258.767 72.5048C258.938 72.3176 259.063 72.146 259.204 71.9587C259.75 76.1248 260 80.4156 260 84.7845Z" fill="url(#paint8_linear_24_355)"/>
                        <path d="M118.814 38.2092H120.718C118.501 41.3766 116.55 44.7001 114.879 48.2264C113.599 50.9257 112.475 53.7031 111.507 56.574C111.07 56.2152 110.648 55.9031 110.195 55.6066C111.132 52.8605 112.225 50.1768 113.474 47.5711C115.02 44.2944 116.8 41.1738 118.814 38.2092Z" fill="url(#paint9_linear_24_355)"/>
                        <path d="M207.51 11.5748C207.01 11.9336 206.542 12.2925 206.042 12.6826C206.026 12.6826 206.026 12.6826 206.011 12.667C197.814 9.718 189.196 8.1889 180.328 8.1577V8.2045H4.32452V6.6442L179.922 6.58179C189.477 6.58179 198.72 8.26692 207.51 11.5748Z" fill="url(#paint10_linear_24_355)"/>
                        <path d="M254.457 84.7843C254.457 105.084 248.29 123.027 236.112 138.069C230.039 145.589 221.983 151.659 212.178 156.09C202.436 160.506 191.553 162.737 179.828 162.737C163.919 162.737 150.055 158.836 138.642 151.16C135.785 149.241 133.13 147.197 130.632 145.028C130.898 144.56 131.163 144.076 131.397 143.608C133.911 145.823 136.628 147.914 139.516 149.865C150.664 157.385 164.231 161.192 179.828 161.192C191.335 161.192 201.998 159.008 211.522 154.702C221.109 150.348 228.977 144.435 234.895 137.101C246.838 122.341 252.896 104.741 252.896 84.7999C252.896 82.5219 252.818 80.2906 252.662 78.0594C252.662 78.0126 252.646 77.9502 252.646 77.9034C253.162 77.5913 253.661 77.248 254.145 76.8892C254.145 76.936 254.145 76.9828 254.161 77.0296C254.364 79.5417 254.457 82.1318 254.457 84.7843Z" fill="url(#paint11_linear_24_355)"/>
                        <path d="M177.221 12.5107H15.8317V14.071H177.221V12.5107Z" fill="url(#paint12_linear_24_355)"/>
                        <path d="M108.619 111.918C108.619 132.576 92.6154 149.833 72.1938 151.222C70.3515 151.347 67.2914 151.472 65.2774 151.472C51.741 151.472 39.9221 148.164 30.2422 141.611C28.1813 140.238 26.2141 138.74 24.3562 137.164L23.1384 136.134C22.7324 135.759 22.2953 135.323 21.8581 134.917C21.8269 134.886 21.8269 134.886 21.7957 134.854C21.5927 134.636 21.3585 134.418 21.1399 134.23C20.6715 133.793 20.2656 133.372 19.8909 132.982C19.7036 132.795 19.5162 132.608 19.3601 132.42C18.6731 131.765 17.5178 130.423 17.5178 130.423C14.7699 127.303 12.3499 124.088 10.3203 120.781L11.2882 119.361C13.7395 123.417 16.7371 127.334 20.2968 131.125C20.7028 131.531 21.0775 131.968 21.4834 132.405C21.8893 132.81 22.2953 133.216 22.7324 133.622C23.0135 133.871 23.2945 134.152 23.5443 134.402C25.8862 136.524 28.3843 138.521 31.0697 140.331C40.5467 146.713 52.0377 149.927 65.2617 149.927C67.229 149.927 70.211 149.802 72.0533 149.677H72.0689C91.7098 148.336 107.026 131.781 107.026 111.949C107.026 92.0553 90.3671 75.3132 70.4764 74.2678L71.6005 73.0508C92.3968 74.0806 108.619 91.1659 108.619 111.918Z" fill="url(#paint13_linear_24_355)"/>
                        <path d="M26.6509 131.344C26.3074 131.063 25.9952 130.782 25.6829 130.47V130.439C25.9952 130.751 26.3387 131.032 26.6509 131.344Z" fill="url(#paint14_linear_24_355)"/>
                        <path d="M31.8659 135.588V135.619L31.4288 135.276C31.5849 135.401 31.7098 135.494 31.8659 135.588Z" fill="url(#paint15_linear_24_355)"/>
                        <path d="M102.654 111.918C102.654 130.454 87.8377 145.527 69.6019 145.527V145.496C69.6019 145.496 66.3857 145.652 65.324 145.652C52.9899 145.667 42.2795 142.625 33.3177 136.618C32.8181 136.274 31.21 135.12 31.21 135.12C31.21 135.12 27.2443 131.874 26.6511 131.344C26.3232 131.016 25.9953 130.751 25.6831 130.439C20.8119 125.789 16.9243 120.734 14.0515 115.304L15.0507 113.837C18.3606 120.375 23.2006 126.366 29.4926 131.749C30.3357 132.498 33.7237 135.026 34.1764 135.338C42.904 141.158 53.3646 144.247 65.2771 144.091C66.4793 144.076 70.0703 143.967 70.0703 143.967C87.1975 143.717 101.077 129.44 101.077 111.918C101.077 94.5829 85.4333 80.4309 68.0562 80.4309C67.7752 80.4309 67.4942 80.4621 67.2131 80.4621L66.6823 80.4933L66.6198 78.9174L67.1195 78.9018C67.4473 78.9018 67.744 78.8706 68.0562 78.8706C86.2764 78.855 102.654 93.7091 102.654 111.918Z" fill="url(#paint16_linear_24_355)"/>
                        <path d="M126.589 111.918C126.589 115.912 126.152 119.969 125.277 124.01C124.653 126.975 123.7 130.018 122.529 132.982C114.598 152.907 95.6753 166.934 74.317 168.713V168.682C72.0687 168.869 67.6972 168.932 65.2772 168.932C48.3685 168.932 33.4895 164.75 21.0148 156.465C12.5527 150.629 5.49571 143.748 0 135.915L0.0468384 135.853L0.936769 134.527C6.37003 142.406 13.3958 149.334 21.9048 155.185C34.0828 163.268 48.6964 167.356 65.2928 167.356C67.6659 167.356 73.4271 167.168 75.5816 166.997L75.5504 167.012C95.7534 164.828 113.536 151.362 121.109 132.374C122.233 129.503 123.138 126.554 123.763 123.651C124.621 119.751 125.043 115.788 125.043 111.902C125.043 110.436 125.043 108.875 124.856 107.221C124.575 104.819 123.716 100.075 123.201 97.7192C122.03 92.3205 119.485 87.1403 116.394 82.2566C114.707 79.6196 112.803 77.092 110.695 74.7827C102.795 66.0294 92.5684 60.1314 81.1866 57.7286L81.5145 56.1995C93.2397 58.6647 103.732 64.7655 111.866 73.7529C114.02 76.1246 115.988 78.6991 117.721 81.414C120.281 85.4552 122.311 89.7148 123.778 94.1149C124.387 95.956 124.824 97.844 125.168 99.7632C125.48 101.573 126.183 105.177 126.417 106.987C126.604 108.813 126.589 110.373 126.589 111.918Z" fill="url(#paint17_linear_24_355)"/>
                        <path d="M120.593 111.918C120.593 116.178 120.031 120.546 118.876 124.915C113.287 146.167 94.8322 161.411 72.9274 162.815H72.8962C70.523 163.034 67.9938 163.127 65.3084 163.127C49.3989 163.127 35.5035 159.226 24.1062 151.503C19.9532 148.694 16.1749 145.605 12.8025 142.235C12.6464 142.094 12.4902 141.954 12.3341 141.798C11.6159 141.08 10.929 140.316 10.2108 139.551C9.36767 138.615 8.52458 137.601 7.68149 136.54C6.15143 134.667 4.74628 132.795 3.41919 130.876L4.38718 129.471C4.63699 129.846 4.90241 130.22 5.16782 130.595C5.40202 130.938 5.65182 131.25 5.90163 131.593C6.86962 132.92 7.85323 134.23 8.9149 135.541C9.49257 136.243 10.0546 136.898 10.6323 137.569C11.6315 138.724 12.6151 139.879 13.708 140.986C13.7705 141.049 13.8329 141.111 13.8954 141.174C17.2053 144.419 20.9211 147.477 24.9961 150.239C36.1593 157.76 49.7112 161.582 65.324 161.582C67.4785 161.582 70.5387 161.426 72.8181 161.27C73.349 161.239 73.8174 161.177 74.2389 161.146C94.8322 159.242 112.084 144.684 117.408 124.541C118.501 120.312 119.063 116.068 119.063 111.949C119.063 111.294 119.032 110.639 119.001 109.952L118.985 109.265C118.767 105.365 118.095 101.48 117.002 97.8596C115.504 92.8354 113.255 88.1077 110.258 83.8637C102.717 73.0195 90.9602 65.5145 78.064 63.2988L78.3138 61.7385C91.6628 64.0478 103.794 71.7557 111.553 82.9587C114.645 87.3587 116.956 92.2269 118.517 97.3915C119.641 101.167 120.328 105.131 120.546 109.187L120.578 109.843C120.578 110.56 120.593 111.231 120.593 111.918Z" fill="url(#paint18_linear_24_355)"/>
                        <path d="M17.5635 138.832C17.5014 138.77 17.4238 138.724 17.3616 138.662C17.4238 138.708 17.4859 138.77 17.5635 138.832Z" fill="white"/>
                        <path d="M82.1234 38.209L53.2241 80.3996L51.9127 79.6195L80.2811 38.209H82.1234Z" fill="url(#paint19_linear_24_355)"/>
                        <path d="M68.634 38.2095L39.7815 80.3065L38.47 79.5264L66.7604 38.2095H68.634Z" fill="url(#paint20_linear_24_355)"/>
                        <path d="M75.3785 38.209L46.5104 80.3528L45.1833 79.5727L73.5206 38.209H75.3785Z" fill="url(#paint21_linear_24_355)"/>
                        <path d="M88.8838 38.209L59.9533 80.4465L58.6262 79.6507L87.0415 38.209H88.8838Z" fill="url(#paint22_linear_24_355)"/>
                        <path d="M95.6283 38.209L76.1435 66.6533L74.1763 69.5399L66.6821 80.4933L65.355 79.6975L93.786 38.209H95.6283Z" fill="url(#paint23_linear_24_355)"/>
                        <path d="M115.363 111.918C115.363 135.291 97.2525 155.232 74.0207 157.604L73.3337 157.697C70.6639 157.931 67.9629 158.072 65.2931 158.072C50.4141 158.072 37.4399 154.39 26.7607 147.15C23.279 144.809 20.0004 142.188 17.0495 139.379L16.6592 139.005C14.9106 137.257 13.2088 135.401 11.6163 133.497C11.3509 133.185 11.1011 132.889 10.8825 132.608C10.7107 132.42 10.539 132.186 10.3673 131.968C8.93087 130.174 7.58817 128.348 6.38599 126.585L8.24391 123.854L8.41565 124.104C9.50855 125.774 10.6951 127.412 11.9285 129.003L12.0847 129.206C12.3189 129.503 12.553 129.784 12.8029 130.096C12.8965 130.236 12.959 130.298 13.0058 130.376L13.9426 131.5C14.0519 131.64 14.1456 131.765 14.2705 131.89C14.8481 132.608 15.4258 133.263 16.0191 133.918L16.8778 134.855C17.1744 135.167 17.4711 135.479 17.7989 135.791C18.08 136.087 18.3142 136.321 18.5484 136.54C21.5148 139.457 24.8559 142.188 28.4937 144.622C38.6577 151.503 51.0386 154.998 65.3243 154.998C67.6663 154.998 70.7732 154.826 73.6304 154.561C95.3322 152.408 112.35 133.684 112.35 111.918C112.35 111.809 112.35 111.731 112.335 111.653L112.303 111.169C112.225 106.894 111.523 102.681 110.18 98.6086C105.075 83.2084 90.6327 71.5373 74.1768 69.5401L76.144 66.6536C93.2088 69.1188 107.619 81.1956 113.037 97.6724C114.458 102.01 115.223 106.519 115.317 111.091L115.332 111.388C115.348 111.544 115.363 111.731 115.363 111.918Z" fill="white"/>
                        <path d="M249.789 84.8158C249.789 103.789 244.028 120.562 232.631 134.668C226.932 141.751 219.36 147.446 210.148 151.612C201.031 155.732 190.82 157.838 179.844 157.838C164.902 157.838 151.913 154.171 141.218 146.947C138.236 144.903 135.488 142.797 133.099 140.612C133.568 139.645 134.005 138.662 134.411 137.663C136.94 140.051 139.813 142.313 142.935 144.435C153.115 151.285 165.543 154.764 179.844 154.764C190.429 154.764 200.203 152.767 208.899 148.835C217.689 144.841 224.871 139.442 230.242 132.764C241.187 119.236 246.745 103.103 246.745 84.8158C246.745 83.4584 246.698 82.1165 246.651 80.8682C247.541 80.5874 248.415 80.2597 249.227 79.9009C249.368 79.8384 249.508 79.776 249.649 79.7136L249.664 79.8541C249.758 81.3988 249.789 83.0683 249.789 84.8158Z" fill="white"/>
                        <path d="M202.842 15.2103C202.795 15.2415 202.749 15.2727 202.702 15.3195C201.843 16.0528 201 16.8018 200.173 17.6132C193.802 15.772 186.948 14.8202 179.829 14.8202C171.601 14.8202 163.92 16.0216 156.972 18.4089C156.316 18.6273 155.66 18.877 155.036 19.111C154.318 19.3607 153.599 19.6572 152.881 19.9692C152.366 20.1721 151.866 20.4061 151.367 20.6401C149.119 21.6699 146.917 22.8246 144.872 24.1352C144.528 24.3381 144.201 24.5409 143.873 24.7593C143.576 24.9466 143.279 25.1494 142.967 25.3367C142.795 25.4615 142.624 25.5707 142.452 25.6955C142.171 25.8984 141.874 26.0856 141.609 26.2884C132.21 32.9978 125.075 41.3922 120.407 51.2689C118.939 54.3583 117.768 57.4009 116.816 60.5684L116.8 60.6152C115.988 59.8662 115.145 59.1485 114.286 58.4463C115.161 55.6222 116.285 52.7824 117.628 49.9739C122.108 40.4872 128.713 32.3268 137.237 25.7111C137.487 25.5239 137.752 25.3055 138.018 25.1182C138.455 24.7906 138.892 24.4785 139.345 24.1508C139.626 23.948 139.923 23.7295 140.204 23.5423C140.532 23.3239 140.859 23.0742 141.203 22.8558C142.795 21.7948 144.341 20.8274 145.902 19.9692C146.308 19.7508 146.73 19.5167 147.136 19.3139C147.729 19.0018 148.338 18.7054 148.931 18.4089C149.415 18.1749 149.899 17.9408 150.399 17.738C153.709 16.2401 157.19 15.023 160.813 14.0869C163.404 13.4315 166.09 12.901 168.838 12.5266C172.382 12.0273 176.035 11.7932 179.813 11.7932C187.792 11.7932 195.395 12.901 202.436 15.1011L202.842 15.2103Z" fill="white"/>
                        <path d="M100.984 11.7622L61.4677 69.5403H57.783L95.2694 14.8204H4.34039V11.7622H100.984Z" fill="white"/>
                        <path d="M252.678 56.4958C252.115 60.1937 250.429 63.7668 247.307 66.3569C244.481 68.6818 241.077 69.6336 237.689 69.8676C236.94 69.93 236.19 69.9456 235.41 69.9456H235.285C234.395 69.9456 233.505 69.8988 232.599 69.8364C232.553 69.8364 232.521 69.8208 232.475 69.8208C222.076 69.0094 210.07 64.0477 202.888 57.3695C200.406 55.0759 198.439 52.1425 197.814 48.585C197.096 44.6219 198.126 40.8147 200.109 37.6317C200.5 37.0076 200.905 36.3834 201.327 35.7749C201.343 35.7749 201.343 35.7593 201.343 35.7437C207.65 26.4131 216.628 18.8612 227.838 14.9761C231.085 13.8526 234.723 13.7434 238.22 15.0073C241.702 16.2555 244.418 18.6584 246.183 21.5761C246.667 22.3719 247.119 23.1677 247.525 23.979C247.775 24.4159 248.009 24.884 248.212 25.3365C253.005 35.1508 254.239 46.0261 252.678 56.4958Z" fill="#38BEEF"/>
                        <path d="M248.79 59.8036C247.65 63.1582 245.48 66.232 242.139 68.1356C240 69.3527 237.689 69.8832 235.394 69.9456H235.269C234.364 69.9768 233.474 69.93 232.584 69.8364C232.537 69.8364 232.506 69.8208 232.459 69.8208C221.78 68.6973 208.774 61.1611 202.233 52.517C200.297 49.9737 198.954 46.9155 198.954 43.4984C198.954 40.6274 199.859 38.0217 201.296 35.7593C201.311 35.7593 201.311 35.7437 201.311 35.7281C201.811 34.9947 202.342 34.2926 202.935 33.6373C210.539 25.1804 220.687 18.9392 232.521 17.0356C235.738 16.5051 239.157 17.0044 242.201 18.7363C244.481 20.047 246.261 21.8726 247.478 23.979C247.884 24.6811 248.228 25.4145 248.509 26.1634C252.802 37.2572 252.412 49.0375 248.79 59.8036Z" fill="#14182D"/>
                        <path d="M241.577 46.7284L245.278 44.2631L244.669 43.3582L227.979 54.4207L228.572 55.3413L240.516 47.4306L232.678 55.6222L233.49 56.3711L236.035 53.703L233.115 60.0222L234.114 60.4903L237.346 53.5313L236.566 53.1725L242.186 47.3057L241.577 46.7284Z" fill="#38BEEF"/>
                        <path d="M236.55 42.4065H239.188L239.828 40.066H237.19L238.486 35.2915H235.8L233.224 44.8094H227.213C224.746 44.8094 224.091 43.3115 224.481 41.2519C224.871 39.1923 226.713 37.6788 228.54 37.6476C229.992 37.6476 230.757 38.3497 230.757 39.3639C230.757 39.6448 230.71 39.91 230.648 40.066H227.307L226.667 42.4065H232.724C233.037 41.5795 233.286 40.5185 233.286 39.7228C233.286 37.2419 231.616 35.2915 228.665 35.2915C224.637 35.2915 221.858 38.8334 221.858 42.2037C221.858 45.2619 223.888 47.1966 227.104 47.1966C227.119 47.1966 227.151 47.1966 227.166 47.1966V47.2122H232.521C232.053 48.913 233.13 50.3172 234.832 50.3641H237.018L237.658 47.9924H235.738C235.332 47.9612 235.082 47.6335 235.207 47.2122L236.55 42.4065Z" fill="white"/>
                        <path d="M220.749 32.0928H220.593H217.877L217.221 34.4956H219.922L217.455 43.5766C217.158 44.4348 216.44 44.9341 215.41 44.8873H214.395L213.755 47.2902H214.723C216.034 47.337 217.502 47.1965 218.657 46.1043L218.689 46.0731C219.36 45.4178 219.906 44.5908 220.172 43.5922L223.263 32.124H220.749V32.0928Z" fill="white"/>
                        <defs>
                        <linearGradient id="paint0_linear_24_355" x1="145.329" y1="22.0097" x2="120.29" y2="61.3119" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_24_355" x1="219.642" y1="20.7243" x2="1.2148" y2="18.0198" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_24_355" x1="224.991" y1="116.464" x2="172.729" y2="116.238" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint3_linear_24_355" x1="150.516" y1="25.3146" x2="125.477" y2="64.6166" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint4_linear_24_355" x1="222.782" y1="113.923" x2="172.859" y2="113.707" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint5_linear_24_355" x1="219.568" y1="26.5035" x2="1.1433" y2="23.7991" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint6_linear_24_355" x1="130.517" y1="12.5734" x2="105.478" y2="51.8754" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint7_linear_24_355" x1="219.834" y1="5.08517" x2="1.4084" y2="2.3809" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint8_linear_24_355" x1="230.004" y1="120.285" x2="170.258" y2="120.027" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint9_linear_24_355" x1="135.376" y1="15.6689" x2="110.337" y2="54.9711" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint10_linear_24_355" x1="219.764" y1="9.9664" x2="1.34814" y2="7.26213" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint11_linear_24_355" x1="228.602" y1="119.855" x2="171.402" y2="119.607" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint12_linear_24_355" x1="219.722" y1="14.8136" x2="1.29139" y2="12.1092" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint13_linear_24_355" x1="51.2489" y1="160.225" x2="73.4947" y2="46.5831" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint14_linear_24_355" x1="21.5574" y1="154.415" x2="43.8038" y2="40.7703" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint15_linear_24_355" x1="27.7022" y1="155.618" x2="49.951" y2="41.9682" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint16_linear_24_355" x1="49.6028" y1="159.913" x2="71.8502" y2="46.2623" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint17_linear_24_355" x1="56.5121" y1="161.258" x2="78.7586" y2="47.613" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint18_linear_24_355" x1="54.7394" y1="160.909" x2="76.9849" y2="47.2686" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint19_linear_24_355" x1="66.2107" y1="79.1225" x2="66.9806" y2="59.8661" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint20_linear_24_355" x1="52.757" y1="78.6153" x2="53.5251" y2="59.3992" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint21_linear_24_355" x1="59.4862" y1="78.8685" x2="60.2552" y2="59.6323" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint22_linear_24_355" x1="72.9408" y1="79.3767" x2="73.7112" y2="60.1003" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        <linearGradient id="paint23_linear_24_355" x1="65.8153" y1="80.9999" x2="88.0224" y2="47.6059" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#00C3FF"/>
                        <stop offset="1" stop-color="#0033CC"/>
                        </linearGradient>
                        </defs>
                    </svg>
        .footer__text_top МЫ СМЕЛО СМОТРИМ В <br/> БУДУЩЕЕ!
        .footer__text_bottom СОВЕРШАЙТЕ НЕВЕРОЯТНОЕ ВМЕСТЕ С НАМИ!