.section-memorable-moments__top 
  .section-memorable-moments__top-header Памятные моменты
  .section-memorable-moments__top-text Проекты, пережитые вместе с нами- они сделали нас такими, какие мы есть:<br/> решительными, преданными своему делу, душевными.
.section-memorable-moments__bottom 
  .section-memorable-moments__bottom-share
    img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
  .section-memorable-moments__bottom-share.section-memorable-moments__bottom-share-trans
    img(src="assets/images/icons/Shape.png", alt="Круглый треугольник")
  .section-memorable-moments__bottom_left-slider
    .left-slider
      .swiper-wrapper
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
              .left-slider__slide-data 1991
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 1992
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 1993
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 1994
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 1995
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 1996
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 1997
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 1998
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 1999
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 2000
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 2001
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 2002
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 2003
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 2004
          .swiper-slide.left-slider__slide
            .left-slider__slide-back 
              .left-slider__slide-risk
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini
                .left-slider__slide-risk_big 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini 
                .left-slider__slide-risk_mini  
              .left-slider__slide-data 2005
  .section-memorable-moments__bottom_right-slider
    .right-slider
      .swiper-wrapper
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1996.jpg", alt="1991 год")
            .right-slider__slide-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ullam temporibus ad! Quo dolor provident dignissimos aut magni similique numquam omnis repudiandae odio, velit repellendus neque iure laboriosam id fugiat.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1997.jpg", alt="1992 год")
            .right-slider__slide-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ullam temporibus ad! Quo dolor provident dignissimos aut magni similique numquam omnis repudiandae odio, velit repellendus neque iure laboriosam id fugiat.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1996.jpg", alt="1993 год")
            .right-slider__slide-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ullam temporibus ad! Quo dolor provident dignissimos aut magni similique numquam omnis repudiandae odio, velit repellendus neque iure laboriosam id fugiat.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1997.jpg", alt="1994 год")
            .right-slider__slide-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae ullam temporibus ad! Quo dolor provident dignissimos aut magni similique numquam omnis repudiandae odio, velit repellendus neque iure laboriosam id fugiat.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1996.jpg", alt="1995 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1997.jpg", alt="1996 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1996.jpg", alt="1997 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1997.jpg", alt="1998 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1996.jpg", alt="1999 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1997.jpg", alt="2000 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1996.jpg", alt="2001 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1997.jpg", alt="2002 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1996.jpg", alt="2003 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1997.jpg", alt="2004 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
          .swiper-slide.right-slider__slide
            .right-slider__slide-foto 
              img(src="assets/images/foto/fotoMemorableMoments/1996.jpg", alt="2005 год")
            .right-slider__slide-text Запуск «Лето Банка» (ныне «Почта Банка») — наш первый аутсорсинговый проект такого формата и масштаба, который не потерял уникальности и длится по сей день. В 2013 году на открытие одного клиентского центра мы тратили один день. Были периоды, когда открывали по 8-10 центров в неделю, а всего открыли несколько сотен. Такой скорости работы в России, да и в Европе, точно не было.
  .section-memorable-moments__bottom-line_top
  .section-memorable-moments__bottom-line_bottom
  .help__tag СВЯЗАНО

